@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900');
body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 14px;
}


/* Header CSS */

header {
    width: 100%;
    height: 105px;
    background-color: white;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 20%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

header .container {
    padding: 0 60px;
    display: flex;
    max-width: 100%;
}

.container {
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    padding: 0 60px;
}

.nmims-logo {
    background: url(../images/nmims-logo.jpg) no-repeat right 0;
    display: block;
    width: 200px;
    height: 100px;
    background-size: 99%;
}

.karma-logo {
    background: url(../images/karma-logo.jpg) no-repeat left 0;
    display: block;
    width: 203px;
    height: 80px;
    background-size: 85%;
}

.navigation {
    /* border: 1px solid green; */
    display: flex;
    margin: 0 0 0 15px;
    width: calc(100% - 480px);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.navigation a {
    /* margin-right: 30px; */
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    border-right: 1px solid;
    padding: 0 20px;
}

.navigation a:last-child {
    border-right: 0px solid;
}

.navigation a.active,
.navigation a:hover {
    color: #ff5421;
}

.white-color {
    color: #ffffff !important;
}

.rs-breadcrumbs {
    position: relative;
}

.rs-breadcrumbs .breadcrumbs-img img {
    width: 100%;
}

.rs-breadcrumbs .breadcrumbs-text {
    position: absolute;
    top: 35% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.rs-breadcrumbs .breadcrumbs-text.white-color .page-title {
    color: #ffffff;
}

.rs-breadcrumbs .breadcrumbs-text .page-title {
    font-size: 48px;
    margin-bottom: 20px;
    color: #ff5421;
}

.banner1 {
    padding: 0 !important;
    max-height: 200px;
    margin-top: 100px;
    overflow: hidden;
}

.mt-60 {
    margin-top: 60px !important;
}

.card-body.acc-content .content .clearfix {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: 8px 10px;
}

.card-body.acc-content .content h5 {
    margin-bottom: 15px;
}

.rs-single-shop .tab-content {
    padding: 25px;
    border: 1px solid #ff5421;
    margin-top: -1px;
}

.selectClass {
    padding: 15px;
    width: 100%;
    appearance: none;
    background: url(../images/down_arrow.png) no-repeat 97% center #fff;
}

.selectClass_contact {
    padding: 10px 15px;
    width: 100%;
    appearance: none;
    background: url(../images/down_arrow.png) no-repeat 97% center #fff;
    border: 0;
    color: #767676;
}

.selectClass1 {
    padding: 15px;
    width: 80%;
    appearance: none;
    background: url(../images/down_arrow.png) no-repeat 97% center #fff;
}

.width-100 {
    width: 100%;
}

.rs-newsletter.style1 .newsletter-wrap .newsletter-form button {
    padding: 15px 20px !important;
    margin-top: 34px;
    background-color: #ff5421 !important;
}

.rs-footer.home9-style.main-home .footer-bottom {
    padding: 20px 0 !important;
}

.intro-video.media-icon a {
    display: block;
    padding: 10px;
    background-color: #ff5421 !important;
    color: #fff;
}

.mobile-menu {
    display: none;
}

.disclaimer {
    font-size: 12px;
    margin: 25px auto;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.4);
}

.copy-right-menu {
    display: flex;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .footer-bottom .row.y-middle {
        flex-direction: column;
    }
    .footer-bottom .row.y-middle .copy-right-menu {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 20px 0;
    }
    .footer-bottom .row.y-middle .copyright {
        text-align: left;
    }
    .rs-footer.home9-style.main-home .footer-bottom .copy-right-menu li:first-child {
        padding-left: 25px !important;
    }
    header .container {
        padding: 0 20px;
        justify-content: flex-start;
    }
    .navigation {
        display: none;
    }
    header {
        height: 80px;
        position: relative;
    }
    .nmims-logo,
    .karma-logo {
        height: 50px;
    }
    .nmims-logo {
        width: 150px;
        background-size: 100%;
    }
    .karma-logo {
        width: 120px;
    }
    .mobile-menu {
        display: flex;
        height: 30px;
        position: absolute;
        right: 15px;
        width: 30px;
        align-items: center;
        justify-content: space-evenly;
        top: 25px;
        flex-direction: column;
        cursor: pointer;
    }
    .stripline {
        width: 90%;
        height: 3px;
        background-color: black;
    }
    .banner {
        height: calc(100vh - 80px) !important;
        margin-top: 0 !important;
        overflow: initial !important;
    }
    .mobilemenuclick {
        display: flex;
        flex-direction: column;
        padding: 0 0px;
        margin: 5px 0;
    }
    .mobilemenuclick ul {
        display: flex;
        flex-direction: column;
        padding: 0 0px;
        margin: 5px 0;
    }
    .mobilemenuclick ul li {
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 0 30px;
    }
    .mobilemenuclick ul li:last-child {
        border-bottom: none;
    }
    .mobilemenuclick ul li a {
        color: #ff5421;
    }
    .banner1 {
        margin-top: 0;
    }
    .rs-single-shop .tab-area ul.nav-tabs li {
        margin-right: 0 !important;
        width: 100% !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .rs-single-shop .tab-area ul.nav-tabs li a {
        width: 100%;
    }
    .rs-breadcrumbs .breadcrumbs-text {
        top: 40% !important;
    }
    .slider-content .container {
        padding: 0 15px;
    }
    .slider-content .content-part {
        padding: 40px 15px 0 !important;
    }
    .slider-content .content-part .sl-sub-title.pt-80,
    .slider-content .content-part .sl-sub-title {
        padding-top: 0;
        font-size: 20px !important;
        line-height: 30px !important;
        text-transform: none !important;
    }
    .feature .cards {
        width: 94% !important;
        height: auto;
        padding: 15px !important;
        margin-bottom: 15px;
    }
    .feature {
        position: relative !important;
        display: flex;
        flex-direction: column;
        font-size: 13px;
    }
    .slider-content .content-part .sl-title {
        font-size: 30px !important;
        line-height: 42px !important;
    }
    .container {
        padding: 0 20px !important;
    }
    .whoBanner {
        margin: 160px auto 30px;
    }
    .rs-cta.main-home .partition-bg-wrap {
        padding: inherit;
    }
    .rs-cta.main-home .partition-bg-wrap:after,
    .rs-cta.main-home .partition-bg-wrap:before {
        width: 100% !important;
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .coursesWrap {
        flex-direction: column !important;
    }
    .rs-blog.main-home .blog-item {
        width: 100% !important;
    }
    .width-100 {
        margin: 0;
    }
    .selectClass1 {
        width: 100% !important;
    }
    .rs-newsletter.style1 .newsletter-wrap .newsletter-form button {
        width: 100% !important;
        position: relative !important;
    }
    .sm-hide {
        display: none;
    }
}